<% provide(:title, 'About') %>

<h1>About ClothesRUs!</h1>
<p>We are a fictional company that exists purely to give a sample of the Ruby-On-Rails website building technique.</p>
<p>We offer a similuation of an online clothing store. If you wish to actually buy a product from this site, we advice not to and instead look elsewhere</p>