<% provide(:title, 'Home') %>

<h1>Home</h1>

<p>
    hello
</p>

<h4>Categories</h4>
<br>

<%=render 'layouts/categories'%>

<% @categories.each do |category| %>
<div class="itemhols">

<p><%= category.description %></p>
</div>

<% end %>
